html {
    font-family: 'Indie Flower', cursive;
}

.clearfix {
    background-color: gray;
    margin: 2%;
    display: flex;
}

.postit {
    display: inline-flex;
    width: 1200px;
    height: 400px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.uno {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 202px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 2%;
    padding: 2%;
    transform: rotateZ(348deg);
    box-shadow: 3px 3px 3px #3e3b3b;

}

.due {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(196, 241, 198, 1) 51%);
    width: 202px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 0;
    padding: 2%;
    transform: rotateZ(11deg);
    box-shadow: 3px 3px 3px #3e3b3b;

}

.tre {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 202px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 0;
    padding: 2%;
    transform: rotateZ(350deg);
    box-shadow: 3px 3px 3px #3e3b3b;

}

.four {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 3%;
    padding: 2%;
    transform: rotateZ(348deg);

}

.five {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 3%;
    padding: 2%;
    transform: rotateZ(348deg);

}

.six {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 3%;
    padding: 2%;
    transform: rotateZ(348deg);

}

.seven {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 3%;
    padding: 2%;
    transform: rotateZ(348deg);

}

.otto {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(236, 237, 192, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(19, 19, 119, 1) 0%, rgba(189, 189, 163, 1) 0%, rgba(240, 241, 188, 1) 51%);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 3%;
    padding: 2%;
    transform: rotateZ(348deg);

}