/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html {
    font-family: 'Bree Serif', serif;
}

@keyframes parole {
    0% {
        animation-timing-function: cubic-bezier(1, 1, 1, 1);
        animation-direction: reverse;
        animation-delay: 3s;
        transform: translateY(20px);
        opacity: 0%
    }

        100% {animation-delay: 3s; 
            opacity: 100%;
    }

}

main {
    border: 3px solid grey;
    padding: 3% 3% 5% 1%;
    margin: 3% 26%;
}

i {
    color: grey;
    display: block;
    margin-left: 39%;
    margin-top: -7%;

}

.parole:nth-child(1) {
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-name: parole;
    animation-duration: 5s;
    animation-delay: 3ms;

}

.parole:nth-child(2) {
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-name: parole;
    animation-duration: 5s;
    animation-delay: 3ms;

}

parole:nth-child(3) {
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-name: parole;
    animation-duration: 5s;
    animation-delay: 3ms;

}

