/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html {
    font-family: 'Bree Serif', serif;
}

@keyframes parole {
    0% {100%}
    50% {50%}
    100% {0%}

}

div > p {
    border: 3px solid grey;
    padding: 3% 3%;
    margin: 7% 26%;
}

i { 
    color: grey;
    display: block;
    margin-left: 39%;
    margin-top: -3%;
    transition: ease;
    animation-fill-mode: both;
    

}

.parole {
    animation-name: parole;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-duration: 7s;
    
    
}