
body {
    background-color: rgb(218, 213, 213);
}

.bacinella {
    
    text-align: center;
    width: 300px;
    margin-left: 30%;
}

#link {
    background-color: white;
    font-size: 13px;
    width: 100px;
    padding: 3%;
}

#link:hover {
    background-color: coral;
    box-shadow: 1px 2px 3px rgb(255, 164, 89);
    font-weight: bold;
    color: white;
}


.tabella {
    width: auto;
    height: auto;
    position: relative;
    margin: 5%;
    border-style: double;
    border-color: aquamarine;
    padding: 5%;
    background-color: azure;
    font-size: 13px;
}

button {
    border: none;
    font-size: 9px;   

}

a {
    border: none;
    font-size: 9px;
    text-decoration: none;
    color: black;

}
a:hover {
    background-color: coral;
    box-shadow: 1px 2px 3px rgb(255, 164, 89);
    font-weight: bold;
    color: white;
}

button:hover{
    background-color: coral;
    box-shadow: 1px 2px 3px rgb(255, 164, 89);
    font-weight: bold;
    color: white;
}