html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  background-color: bisque; }

h1, h2 {
  text-align: center; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: -5% -2% 7% -3%;
  height: 80px;
  background-color: white;
  width: auto;
  position: sticky;
  top: -2px;
  box-shadow: 1px 2px 3px gray; }

.sidebar-menu ul {
  display: flex;
  column-gap: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

#main {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 20%;
  justify-content: center;
  margin-bottom: 50px; }

button {
  background-color: burlywood;
  box-shadow: 1px 1px 3px gray;
  color: #311c44;
  height: 30px;
  width: 100px;
  margin-top: 10px; }
  button:hover {
    background-color: white;
    font-weight: bold;
    border: none; }

#content {
  text-align: justify; }

#sidebar ul {
  position: sticky;
  top: 100px;
  line-height: 2.5em; }

#footer {
  background-color: beige;
  height: 50px; }
