@import 'variabili';
@import 'bottoni';

body{
    font-family: $font;
    border: 1px solid white;
    text-align: center;
    width: 1200px;
    margin: 5%;
    
}

.main-menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    ul {
        display: flex;
        column-gap: 10px;
        margin-right: 50px;
    }
    li {
        list-style: none;
    }
}

body {
    background-color: $colore-sfondo;
}

.showcase-content {
    text-align: center;
    border: 1px solid white;
    
}

img {
    position: absolute;
    top: -500px;
}