/* IMPOSTAZIONI GENERALI */

html {
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* HEADER */

header {
    background-color: white;
    box-shadow: 1px 1px 3px black;
}

img#logoEpicode {
    width: 6.5em;
    margin-left: 185%;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}



/* MAIN */

/* FOOTER */

/* RESPONSIVE */

@media screen and (min-width:1000px) {
    header {
        padding: 3% 1% 1% 1%;
        margin: -2% 0% 0% 0%;
    }

    nav {
        margin-left: 33%;
    }

    nav a {
        display: inline;
        font-size: 0.9rem;
        text-decoration: none;
        color: black;
    }

    input {
        padding: 11% 32% 15% 32%;
        margin: auto;
        align-items: center;
    }

}
