/* IMPOSTAZIONI GENERALI */


html {
    font-family: 'Fira Sans Condensed', sans-serif;

}

body {
    font-size: 0.9em;
    line-height: 1.5em;
}

header {
    position: sticky;
    top: -1px;
    z-index: 3;
    background-color: white;
    box-shadow: 1px 1px 11px grey;
    height: 80px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
    padding: 0% 1% 0% 1%;
}


.menuNascosto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;

}

.paragrafo {
    padding: 0% 14% 0% 14%;
    line-height: 1.5em;
}

.laptop {
    width: 18em;
}

.laptopUno {
    
}

/* HEADER */

.bottone {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 57, 130, 1) 0%, rgba(0, 138, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(103, 179, 216, 1) 0%, rgba(61, 57, 130, 1) 42%);
    color: white;
    font-weight: bold;
    align-items: center;
    border: none;
    width: 8em;
    height: 3em;
    box-shadow: 1px 3px 4px grey;
    transform-style: flat;
}

input~.bottone:hover {
    background-color: none;


}

nav a {
    text-decoration: none;
    color: black;
}

/* MAIN */

h1 {
    text-shadow: 1px 1px 3px grey;
    color: white;
    text-align: left;
    font-size: 2.2em;
    font-weight: bold;
    margin: -7% 36% 2% 0%;
    line-height: 0.9em;
}

h2 {
    font-weight: bold;
    font-size: 1.2em;
}

h3 {
    font-weight: bold;
    font-size: 1.1em;
}

h4 {
    margin-bottom: 5%;
}



.bloccoUno {
    background-image: url(../images/banner.jpg);
    background-position: right;
    background-size: cover;
    line-height: 1.5rem;
    padding: 8% 26% 6% 5%;
    text-align: left;
    color: white;
    color: white;
    text-shadow: 9px 9px 3px black;
    height: 274px;

}

.fas,
.far,
.fab {
    content: "\f141";
    font-size: 1.5rem;
    color: #e42424;
}

.bloccoTre {
    text-align: center;
    background-color: rgb(12, 6, 51);
    color: white;
    padding: 7% 6% 7% 6%;
    margin: 5% 0% 4% 0%;
}

.chi-siamo {
    text-align: center;
    line-height: 1.5rem;
}

#paragrafo {
    padding: 1% 8% 11% 9%;
    line-height: 1.5rem;
}

.chi-siamo h1{
    color: black;
    text-shadow: none;
    text-align: center;
    margin: 1%;
    line-height: 1.5em;
}

.chi-siamo p {
    margin: 4%;
}

.tabella {
    display: flex;
}
thead {
    background-color: rgb(210, 220, 231);
    

}

tr:nth-child(even){
    background-color: rgb(210, 220, 231);
}
/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
    background-color: rgb(238, 238, 238);
    margin: 4% 0% 0% 0%;
    padding: 2% 25% 3% 15%;
}

form {
    padding: 1% 0% 3% 5%;
    margin: 1% 0% 5% 0%;
}

footer.bottone {
    padding: 4% 75% 6% 4%;
    text-align: center;
    margin: -6% 1% 1% 1%;
}

/* RESPONSIVE */

@media screen and (max-width:462px) {

    .main {
        padding: 4% 1% 0% 1%;
    }

    .menuNascosto {
        border: 1px solid transparent;
        background-color: white;
        position: absolute;
        height: 60vw;
        width: 60vw;
        box-shadow: 1px 4px 8px grey;
        top: -361%;
        transition: top 0.5s;
        left: 39%;
        z-index: 1;
    }

    .burger {
        z-index: 2;
    }

    .menuMobile {
        display: none;
    }

    .menuMobile:checked~.menuNascosto {
        top: 0%;
    }

    nav a {
        display: block;
    }

    .headerUno {
        text-align: center;
        padding: 3% 20% 4% 17%;
        margin: 1% 3% 5% 9%;
    }



    .bloccoDue h3 {
        text-align: center;

    }


    .BloccoDueflex {
        border: 1px solid transparent;
        margin: 0% 28% 4% 24%;
        text-align: center;
    }

    .Bloccoquattroflex {
        text-align: center;
        margin: 4% 31% 1% 20%;
    }

    .desktop {
        display: none;
    }

    .footer {
        background-color: rgb(238, 238, 238);
        margin: 4% 0% 0% 0%;
        padding: 2% 25% 0% 15%;
        text-align: inherit;
        line-height: 1.5rem;
        display: block;
    }

    

    div img {
        text-align: center;
    }



}

@media screen and (min-width:768px) {

    .main {
        margin: 0% 1% 1% 8%;
    }

    .burger {
        display: none;
    }

    header nav {
        margin: 1% 7% 2% -19%;
        width: 226px;
    }

    .menuMobile {
        display: none;
    }


    .headerUno {
        text-align: center;
        padding: 3% 20% 4% 17%;
        margin: 1% 3% 5% 9%;
    }



    .BloccoDueflex {
        text-align: center;
    }


    .bloccoQuattro {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
    }

    .mobie {
        display: none;
    }


}

@media screen and (min-width:468px) {

    
    .main {
        margin: 2% 1% 1% 8%;
        gap: 3px;
        font-size: 2vw;
    }

    .top {
        padding: 1% 0% 0% 0%;
    }

    header nav {
        border: 1px solid transparent;
        width: 76%;
    }


    .burger {
        display: none;
    }

    .menuMobile {
        display: none;
    }

    .headerUno {
        text-align: center;
        padding: 3% 20% 4% 17%;
        margin: 1% 3% 5% 9%;
    }



    .bloccoDue {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid transparent;
        padding: 1% 3% 1% 11%;
        /* margin: 0% 19% 0% 20%; */
        column-gap: 30px;
    }


    .BloccoDueflex {
        text-align: center;
    }


    .bloccoQuattro {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
    }

    .mobile{

    

    display: none;
    }
}